<nav>
  <a href="/">Home</a>
  <form method="get" action="/contacts/search" class="search-form">
    <input name="q" type="search" placeholder="search" value="<%= query %>" autofocus/>
    <input type="submit" style="display: none" />
  </form>

  <%if (session) { %>
    <a href="/contacts/new">New Contact</a>
    <form method="post" action="/logout" class="logout">
        <button type="submit">Logout</button>
    </form>
  <% } %>
</nav>

