<%- include ../partials/header.ejs %>
    <p>Already have an account?
      <a href="login">Login</a>
    </p>
  <div class="signup"> 
    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="email"></input>
      <input type="text" name="password" placeholder="password"></input>
      <button type="submit" value="signup">Submit</button>
    </form>
  </div> 
<%- include ../partials/footer.ejs %>