<%- include ../partials/header.ejs %>
  <div class="signup"> 
    <form>
      <input type="text" name="email" placeholder="email"></input>
      <input type="text" name="password" placeholder="password"></input>
      <button class="submit">Submit</button>
    </form>
  </div> 
<%- include ../partials/footer.ejs %>