<%- include ../partials/header.ejs %>
  <div class="users">
    <ul>
      <% for(var i=0; i<contacts.length; i++) {%>
        <li>
          <%= contacts[i] %>
        </li>
        <% } %>
    </ul>
  </div>
<%- include ../partials/footer.ejs %>